* {
    margin: 0;
    padding: 0;
}
.w {
    width: 1200px;
    margin: auto;
}
body {
    background-color: #f3f5f7;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom:1;
}
.header {
    height: 42px;
    margin: 30px auto;
}
.logo {
    float: left;
    height: 42px;
    width: 198px;
}
.nav {
    float: left;
    margin-left: 60px;
}
.nav ul li {
    float: left;
    margin: 0 15px;
}
.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}
.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}
.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 72px;
}
.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: none;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}
.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: 0;
    background: url("images/logo-search.png");
}
.user img {
    float: right;
    padding-top: 5px;
}
.user p {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666;
}
/* banner区域 */
.banner {
    height: 421px;
    background-color: #1c036c;
}
.banner .w {
    height: 421px;
    background: url("images/banner2.png") no-repeat top center;
}
.subNav {
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0, 0, 0, .3);
}
.subNav ul li {
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
}
.subNav ul li a {
    font-size: 14px;
    color: #fff;
}
.subNav ul li a span {
    float: right;
}
.subNav ul li a:hover {
    color: #00a4ff;
}
.course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    margin-top: 50px;
}
.course h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}
.bd {
    padding: 0 20px;
}
.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}
.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}
.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}
.bd .allCourses {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    margin-top: 5px;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    font-weight: 700;
    color: #00a4ff;
}
/*精品推荐*/
.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    line-height: 60px;
}
.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}
.goods ul{
    float: left;
    margin-left: 30px;
}
.goods ul li {
    float: left;
}
.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}
.goods .mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}
/*box区域*/
.box {
    margin-top: 30px;
}
.box-hd {
    height: 45px;
}
.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}
.box-hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}
.box-bd ul {
    width: 1225px;
}
.box-bd ul li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}
.box-bd ul li img {
    width: 100%;
    background-color: transparent;
}
.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}
.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}
.box-bd .info span {
    color: #ff7c2d;
}
/*编程入门*/
.coding {
    margin-top: 30px;
}
.coding-hd {
    height: 45px;
}
.coding-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}
.coding-hd ul{
    float: left;
    margin-left: 350px;
}
.coding-hd ul li {
    float: left;
}
.coding-hd ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
}
.coding-hd ul li .hot {
    color: #00a4ff;
}
.coding-hd .findAll {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-right: 30px;
}
.coding-info {
    float: left;
    width: 226px;
    height: 393px;
    background: url("images/coding_subNav.png") no-repeat top center;
    margin-right: 14px;
}
.coding-info h3 {
    padding-top: 50px;
    padding-left: 30px;
    color: #fff;
}
.coding-info .steps {
    margin-left: 30px;
    margin-top: 50px;
}
.coding-info .steps img {
    float: left;
    padding-top: 3px;
    height: 150px;
}
.coding-info .steps ul {
    float: left;
}
.coding-info .steps ul li {
    font-size: 14px;
    color: #fff;
    margin-bottom: 49px;
}
.coding-header {
    padding-bottom: 17px;
}
.coding-body {
    width: 2000px;
}
.coding-body ul li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}
.coding-body ul li img {
    width: 100%;
}
.coding-body ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}
.coding-body .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}
.coding-body .info span {
    color: #ff7c2d;
}
/*数据分析师*/
.data_analyst {
    margin-top: 30px;
}
.data_analyst-hd {
    height: 45px;
}
.data_analyst-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}
.data_analyst-hd ul{
    float: left;
    margin-left: 350px;
}
.data_analyst-hd ul li {
    float: left;
}
.data_analyst-hd ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
}
.data_analyst-hd ul li .hot {
    color: #00a4ff;
}
.data_analyst-hd .findAll {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-right: 30px;
}
.data_analyst-info {
    float: left;
    width: 226px;
    height: 393px;
    background: url("images/navBg.png") no-repeat top center;
    margin-right: 14px;
}
.data_analyst-info h3 {
    padding-top: 50px;
    padding-left: 30px;
    color: #fff;
}
.data_analyst-info .steps {
    margin-left: 30px;
    margin-top: 50px;
}
.data_analyst-info .steps img {
    float: left;
    padding-top: 3px;
    height: 150px;
}
.data_analyst-info .steps ul {
    float: left;
}
.data_analyst-info .steps ul li {
    font-size: 14px;
    color: #fff;
    margin-bottom: 49px;
}
.data_analyst-header {
    padding-bottom: 17px;
}
.data_analyst-body {
    width: 2000px;
}
.data_analyst-body ul li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}
.data_analyst-body ul li img {
    width: 100%;
}
.data_analyst-body ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}
.data_analyst-body .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}
.data_analyst-body .info span {
    color: #ff7c2d;
}
/*footer*/
.footer {
    height: 415px;
    background-color: #fff;
}
.footer .w {
    padding-top: 35px;
}
.copyRight {
    float: left;
    padding-left: 30px;
}
.copyRight p {
    font-size: 12px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 15px;
}
.copyRight .app {
    display: block;
    width: 118px;
    height: 34px;
    border: 1px solid #00a4ff;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #00a4ff;
}
.links {
    float: right;
}
.links dl {
    float: right;
    margin-left: 100px;
}
.links dl dt {
    font-size: 16px;
    color: #333;
    margin-bottom: 6px;
}
.links dl dd a {
    font-size: 12px;
    color: #333;
}
